<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing nofitication</h1>

  <%= render "form", nofitication: @nofitication %>

  <%= link_to "Show this nofitication", @nofitication, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to nofitications", nofitications_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
